<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand playfair-display" href="#">
            <img src="../../assets/dnd_icon.png" width="45px" height="45px" style="margin-top: -3px;">&ensp;{{title}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto navbar-collapse" id="navbarToggler">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="route === '/campaigns'" routerLink="/campaigns">
                        <strong>Campaigns</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="route === '/characters'" routerLink="/characters">
                        <strong>Characters</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>