<br>
<div class="card-deck mx-auto d-flex justify-content-center">
    <div class="list-group list-group-horizontal align-items-stretch flex-wrap" *ngFor="let campaign of campaigns">
        <div routerLink="/campaign/{{campaign.id}}" class="card mb-3 list-group-item text-white" [ngClass]="{
            'bg-dark' : campaign !== selectedCampaign,
            'bg-secondary': campaign === selectedCampaign}"
            (click)="onSelect(campaign)">
            <div class="card-header">
                {{campaign.name}}
            </div>
            <div class="card-body">
                <p class="card-text">{{campaign.description}}</p>
            </div>
            <div class="card-footer">
                <!-- Change to "time last accessed" or "time created", or both. -->
                <p class="d-inline float-left">{{campaign.id}}</p>
            </div>
            <app-campaign-detail [campaign]="campaign"></app-campaign-detail>
        </div>
    </div>
</div>
<br>