.card {
	min-height: 15rem;
}

.card-deck .card:hover {
    box-shadow: 2px 2px 4px rgb(89, 255, 219)
}

.card-header {
	font-size: x-large;
	font-weight: 700;
}

.list-group-item {
	width: 25rem;
	margin: 1% !important;
	padding: 0;
	border-bottom-left-radius: .25rem !important;
	display: flex;
}

@media (min-width: 576px) {
	.list-group-item {
		width: 25rem;
		margin: 1% !important;
	}
}

@media (min-width: 768px) {
	.list-group-item {
		width: 25rem;
		margin: 1% !important;
	}
}

@media (min-width: 992px) {
	.list-group-item {
		width: 25rem;
		margin: 1% !important;
	}
}

@media (min-width: 1200px) {
    .list-group-item {
        width: 25rem;
        margin: 1% !important;
    }
}