<div class="container">
    <h3 class="display-4 dongle-bold text-center">Here's what we think...</h3>
    <div *ngIf="suggestedPokemon" class="text-center">
        <h1 class="dongle-bold">Best Pokémon types:</h1>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let suggestedType of suggestedTypes">
                <img src='../../assets/types/{{suggestedType[0]}}.png' alt='{{suggestedType[0]}}, {{suggestedType[1]}}' [style.box-shadow]="determineTypeDropShadow(suggestedType[1])">
            </div>
        </div>
        <br>
        <br>
        <h1 class="dongle-bold">Best move types:</h1>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let moveType of suggestedMoveTypes"s>
                <img src='../../assets/types/{{moveType[0]}}.png' alt='{{moveType[0]}}, {{moveType[1]}}' [style.box-shadow]="determineTypeDropShadow(moveType[1])">
            </div>
        </div>
        <br>
        <br>
        <h1 class="dongle-bold">Suggested Pokémon:</h1>
        <form>
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for a Pokémon">
        </form>
        <br>
        <div class="row pokemon-list">
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3" *ngFor="let pokemon of suggestedPokemon | filter:searchText">
                <button [style.box-shadow]="determinePokemonDropShadow(pokemon[1])">
                    <img src='../../assets/pokemon/{{pokemon[0]}}.png' width="50px" alt='{{pokemon[0]}}, {{pokemon[1]}}'>
                    {{pokemon[0]}}
                </button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="lead">
        We choose and rank Pokémon based on the following criteria:
        <ul>
            <li>
                If the Pokémon takes reduced damage or is immune to damage from one of the base or Tera types of the raid Pokémon
            </li>
            <li>
                If the raid Pokémon's Tera type overlaps with its base types (for increased Same Type Attack Bonus, or STAB)
            </li>
            <li>
                If the Pokémon has a type where it could benefit from STAB and the move would be super effective against the raid Pokémon
            </li>
            <li>
                The Pokémon does not have a type that is weak to the raid Pokémon
            </li>
        </ul>
        <br>
        Pokémon and types are ranked from most (red glow) to least (green glow) recommended.
    </div>
</div>