<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <img src="../../assets/pokemon-logo.svg" height="75px">
        <br>
        <h2 class="display-4 dongle-bold">Tera Type Finder</h2>
        <br>
        <p class="lead">
            Select the raid Pokémon and its Tera type and we'll tell you what type of Pokémon to bring for your best shot at capturing.
        </p>
        <br>
        <br>
    </div>
    <app-tera-type (onSelected)="onSelectedTeraType($event)"></app-tera-type>
</div>