<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 playfair-display text-center">Want a snappy decision for Tera raids?</h1>
        <br>
        <p class="lead">
            Just select the Pokémon and its Tera type for the raid and we'll tell you what type(s) of Pokémon to bring to the raid for your best shot at winning.
        </p>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>