<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 playfair-display text-center">Nerds & Dragons</h1>
        <br>
        <p class="lead">
            Campaign management for D&D dungeon masters and their players. This is currently a work-in-progress and will be updated and improved over time. If you have any cool ideas, tell me!
        </p>
        <br>
        <br>
        <div class="text-center">
            <p class="lead">
                Have any suggestions? Send me a message on Twitter.
            </p>
            <a class="btn btn-dark btn-lg glow-on-hover" href="https://twitter.com/messages/compose?recipient_id=392637534&text=" role="button">Message Me</a>
        </div>
        <br>
        <br>
        <div class="text-center">
            <p class="lead">
                Interested in trying it out? Create an account below.
            </p>
            <a class="btn btn-dark btn-lg glow-on-hover" href="#" role="button">Sign Up</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>